numpy==1.26.4
scipy==1.11.4
pandas==2.1.4
scikit-image==0.22.0
pyqt6==6.6.1
pyqt6.sip==13.6.0
qtpy==2.4.1
pyqtgraph==0.13.3
superqt==0.6.7
natsort==8.4.0
tifffile==2023.12.9
fastremap==1.14.1
tqdm==4.66.2
matplotlib==3.8.2
grpcio==1.60.0
grpcio-tools==1.60.0
protobuf==4.25.2
nd2==0.10.3
readlif==0.6.5
pynrrd==1.0.0
opencv-python==4.9.0.80
